.left {
  border:1px solid black;
  position: absolute;
  width: 10%;
  height: 60%;
  left: 20%;
}

.right {
  border:1px solid black;
  position: absolute;
  width: 20%;
  left: 40%;
  z-index: -10;
}