.nav {
	position: fixed;
	top: 10%;
	left: 8%;
  text-decoration: none;
  color: grey;
}

.about {
  position: absolute;
  width: 40%;
  top: 10%;
  left: 32%;
}

#more-button {
  cursor: pointer;
  text-decoration: underline;
}

body {
	font-family: 'Metrophobic', sans-serif;
 	font-size: 25px;
}

a {
  color: inherit;
  text-decoration: underline;
}

ul {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

@media (max-width: 480px) {
  .about {
    width: 80%;
    left: 10%;
    top: 7%;
  }
  .nav {
    display: none;
  }
  body {
    font-size: 20px;
  }
}
