.intro {
	left: 20%;
	position: absolute;
	top: 30%;
	width: 60%;
	z-index: 10;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

.name {
	position: relative;
	left: 2px;
	font-size: 60px;
}

.header {
	color: gray;
	font-family: 'Bentham', serif;
	position: absolute;
	top: 27px;
	width: 100%;
}

.body {
	text-align:justify;
	position: absolute;
	width: 91%;
	left: 20px;
	font-size: 20.47px;
}


#home {
	left: 50px;
	position: absolute;
	z-index: 20;
}

#contact {
	right: 50px;
	position: relative;
	text-align: right;
}

a {
	color: inherit;
	text-decoration: none
}


