.box {
	position: absolute;
	width:100%;
	height:42px;
	top: 40%;
	background: #F2EDED;
}

.intro {
	left: 20%;
	position: absolute;
	top: 38.5%;
	z-index: 10;
	font-family: 'Bentham', serif;
}

.name {
	position: relative;
	left: 2px;
	font-size: 60px;
}

.line {
	position: relative;
	top: -10px;
	left: -20px;
	width: 820px;
	border: 0;
	height: 0.5px;
	background-color: black;
}

.header {
	color: gray;
	font-family: 'Bentham', serif;
	position: absolute;
	top: 27px;
	width: 100%;
}

.body {
	position: absolute;
	width: 91%;
	left: 20px;
	font-size: 23px;
}


#home {
	left: 50px;
	position: absolute;
	z-index: 20;
}

#contact {
	right: 50px;
	position: relative;
	text-align: right;
}

a {
	color: inherit;
	text-decoration: none
}


