#rectangle {
	position: absolute;
	width: 50%;
	height: 60%;
	top: 20%;
	left: 25%;
}

#top-right {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	line-height: 1.3;
}


#bottom-left {
	position: absolute;
	bottom: 60%;
	width: 100%;
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#project-list {
	position: absolute;
	left: 20px;
	color: #828282;
}

#orange-box {
	position: relative;
	top: 10px;
	width: 100px;
	height: 10px;
	background-color: orange;
}

#name {
	position: absolute;
	right: 0%;
}

#berkeley {
	color: #CCD1D1;
	position: absolute;
	right: 0%;
}

#links {
	position: absolute;
	right: 0%;
}

#vroom {
	opacity: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	cursor: pointer;
	font-size: 30px;
	border: none;
	position: absolute;
	top: 50%;
	right: -10%;
	font-style: italic;
	font-weight: bold;
}

#plane {
	left: 80%;
	top: 25%;
	position: absolute;
	width: auto;
	height: 500px;
	-webkit-animation: mover 2s infinite alternate;
}


@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-80px); }
} 

button:disabled,button[disabled]{
  	color: white;
}

a {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

body {
	overflow: hidden;
}



