#rectangle {
	position: absolute;
	width: 30%;
	height: 60%;
	top: 15%;
	left: 60%;
}

#top-right {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#bottom-left {
	position: absolute;
	top: 17%;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#project-header {
	position: absolute;
}

.hundred_2 {
	display: inline-block;
	position: relative;
	left: 20px;
	color: #828282;
}

#orange-box {
	position: relative;
	top: -5px;
	width: 70px;
	height: 10px;
	background-color: orange;
}

#name {
	position: absolute;
	right: 0%;
}

#berkeley {
	color: #CCD1D1;
	position: absolute;
	right: 0%;
}

#links {
	position: absolute;
	right: 0%;
}

#vroom {
	opacity: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	cursor: pointer;
	font-size: 20px;
	border: none;
	position: absolute;
	right: 0%;
	bottom: 50%;
	font-style: italic;
	font-weight: bold;
}

#plane {
	left: 80%;
	top: 25%;
	position: absolute;
	width: auto;
	height: 500px;
	-webkit-animation: mover 2s infinite alternate;
}


@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-80px); }
} 

button:disabled,button[disabled]{
  	color: white;
}

button:focus {outline:0;}


a {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

body {
	overflow: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

.hundred {
	position: relative;
	width: 100%;
}

.test {
	position: relative;
}

/*effect-underline*/
a:after {
	content: '';
	position: absolute;
	left: 0;
	height: 1em;
	width: 100%;
	border-bottom: 1px solid;
	opacity: 0;
	margin-top: 5px;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
