.box {
    margin: 0 auto;
    margin-top: 180px;
    width: 280px;
    font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

.hundred {
	position: relative;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
	margin-top: 10px;
    padding-left: 20px;
    list-style-type: circle;
}

li {
  margin-bottom: 5px;
}

li:last-child {
 margin-bottom: 0px;
}

a:after {
	content: '';
	position: absolute;
	left: 0;
	height: 1em;
	width: 100%;
	border-bottom: 1px solid;
	opacity: 0;
	margin-top: 2px;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

#vroom {
	opacity: 1;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	cursor: pointer;
	font-size: 20px;
	border: none;
	padding: 0;
}

#email {
	color: grey;
	margin-top: 5px;
}