.box {
    margin: 0 auto;
    left: 130px;
    margin-top: 12%;
    width: 221px;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	position: relative;
}

.hundred {
	position: relative;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
	margin-top: 10px;
    padding-left: 20px;
    list-style-type: circle;
}

li {
  margin-bottom: 5px;
}

li:last-child {
 margin-bottom: 0px;
}

a:after {
	content: '';
	position: absolute;
	left: 0;
	height: 1em;
	width: 100%;
	border-bottom: 1px solid;
	margin-top: 2px;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(0,1);
}

a:hover:after {
 	opacity: 1;
	transform: scale(1);
}

img {
	height: 100%;
	left: -260px;
	position: absolute;
}

#vroom {
	opacity: 1;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	cursor: pointer;
	font-size: 20px;
	border: none;
	padding: 0;
}

@media (max-width: 480px) {
   .box {
   	margin-top: 45px;
   	 left: 0;
   	}

   img {
   	display: none;
   }
}
